<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Как высчитывать значения в Burn Down Chart в Scrum</title>
</head>
<body>

<created_at>2020-02-05 15:54:00</created_at>
<updated_at>2020-02-05 15:54:00</updated_at>
<title>Как высчитывать значения в Burn Down Chart в Scrum</title>
<user_id>1</user_id>
<seo_description>В это статье рассказано о том, как высчитываются параметры в Burn DownCharts в Scrum.Персональный
    блог.
</seo_description>

<first_paragraph>
    <p class="lead"> После публикации среди друзей <a
        href="https://ampleev.com/article_praktika_primenenia_burn_down_charts_v_kontekste_safe_i_scrum">первой
        статьи о Burn Down Chart</a>, в комментариях
        второй вопрос, который был задан: "Не понятно как высчитываются все эти значения".
        Поэтому, в этой статье я постараюсь рассказать о том как мы считаем ежедневные значения на Burn
        Down Chart. Как обычно, буду рад всем комментариям коллег если вдруг что-то скажу не так, но все
        же хочется верить, что тема достаточно понятная для меня.</p>
</first_paragraph>

<content>
    <article class="article">

        <p class="lead">Давайте еще раз вспомним как выглядит эта диаграмма.
        </p>
        <div class="popover-image">

            <div id="first_point" class="popover-hotspot bg-primary-2" style="top: 15%; left: 47%;"
                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Объем спринта">

            </div>

            <div id="first_point" class="popover-hotspot bg-primary-2" style="top: 46%; left: 47%;"
                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Идеальное сгорание">

            </div>

            <div id="first_point" class="popover-hotspot bg-primary-2" style="top: 19%; left: 20%;"
                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Реальное сгорание">

            </div>


            <img src="/assets/img/sp_count_1.jpg" alt="Image"
                 class="rounded border shadow-lg">
        </div>

        <br>
        <br>
        В данном примере рассмотрен 10-дневный спринт. В нем мы видим, что прошло 2 дня(поскольку
        только первые 2 сегмента закрашены зеленым графиком). <p></p>

        <p>Также мы видим общий <strong>объем спринта</strong> - это
            пунктирная линия, которая показывает, что общий объем спринта в пн в 10:00, вт в 10:00 и среду в
            10-00 не изменялся и равен 17 SP (Story Points).</p>
        <p>По методологии
            Scrum,
            общий объем работы внутри спринта не изменяется в течение спринта, поэтому эту линию
            строят
            часто сразу на весь спринт (все 10 дней). Также она помогает оценить сколько осталось сделать
            более наглядно, чем если бы она заканчивалась на третьем дне в текущем варианте.
        </p>

        <p><strong>Реальное сгорание</strong> (зеленый график) показывает фактически оставшуюся работу. Т.е.
            сейчас выполнен командой 1 Story
            Point из 17, которые необходимо выполнить для успешного завершения спринта. Выполненной чаще
            всего считается задача в статусе "Done" (что такое Done для каждой команды, команда определяет
            сама. Есть даже специальный артефакт, который называется DOD - Definition Of Done - он у каждой
            команды свой и в нем очень точно описано что означает, что задача выполнена и ее можно подвинуть
            в статус "Done". Чаще всего это "Выкачено на прод", но могут быть нюансы. В общем, по текущему
            графику мы понимаем, что выполнен DOD только у одной истории, которую команда оценила в 1 SP.
        </p>

        <p><strong>Идеальное сгорание</strong> показывает на какой точке должен находиться график реального
            сгорания в случае абсолютно равномерной работы. Т.е. на данный момент должно быть выполнено 3 SP
            при абсолютно равномерной работе.
        </p>

        <p></p>

        <p>Я подозреваю, что может быть интересно понимание что такое <strong>Story Point</strong>. По сути,
            1 SP у одной
            команды и 1 SP у другой команды могут скрывать за собой
            разный объем работы. У нас, например, есть команды с одинаковым количеством человек, но у одной
            емкость на спринт 17 SP, а у другой 35SP. И это нормально. Дело в том, что команда сама выбирает
            для себя эталонную задачу относительно которой оценивает все задачи на грумингах (устаревшее
            название - это еженедельная встреча, на которой PO приносит User Stories на оценку, а команда
            оценивает их посредством покера планирования) (В SAFe это PBR
            - Product Backlog Refinement). </p>


        <p>Таким образом, мы можем иметь эталонную User Story "Я, в роли водителя автомобиля, хочу после
            заправки автомобиля, иметь возможность при необходимости получить напечатанный на бумаге
            чек". Договориться, что она для нашей команды 8SP. И, когда PO рассказывает новую User Story,
            которую мы должны оценить, мы ее уже оцениваем относительно эталонной задачи. Соответствнно,
            новая уже может оцениваться командой в 5 SP, например и т.д. все истории беклога получают свои
            оценки.</p>

        <p>Емкость команды рассчитывается исходя из статистики. В первые 1-2 спринта замеряется количество
            SP, которые команда закрывает и высчитывается среднее значение, на это значение и происходит
            планирование (когда PO набирает задачи в спринт из беклога на определенную ёмкость).</p>

        <p>Надеюсь, я достаточно понятно расписал как получаются значения на Burn Down Chart.</p>

    </article>
</content>

<views_count>1968</views_count>
<likes_count>2</likes_count>
<blog_section_id>1</blog_section_id>
<main_image_path>/assets/img/sp_count_main_1.jpg</main_image_path>
<text_url>article_kak_vischitivat_znachenia_v_burn_down_chart_v_scrum</text_url>


</body>
</html>
